div#sidebar {
    position: fixed;
    width: 45%;
    top: 0;
    bottom: 0;
    background: #323a71;
    color: white;
    overflow: auto;
  }
  
  div#content-wrap {
    width: 55%;
    float: right;
  }
  td{
    padding: 10px;
  }
  